//- Headline & image header

table
  tr
    td.headline-wrap
      h1 Really simple HTML email template
      h2 This is a Sub Headline
      table
        tr
          td.padding
            p.center
              a.btn-primary(href="#") Example Button
table
  tr
    td
      img.header-img(src="http://s9.postimg.org/gk1rbiqe7/hero_img.jpg" alt="east platform" style="width: 100% !important; height: auto;" width=""
  height="")
table
  tr
    td.padding-sides
      small Photo: caption