//- Simple footer template

table.footer-wrap
  tr
    td
    td.container
      div.content
        table
          tr
            td(align=center)
              p Don't like these annoying emails? #[a(href='#') Unsubscribe]
    td