doctype html
html(lang='en')
  head
    title='Really Simple HTML Email Template'
    link(rel='stylesheet', href='./../css/main.css', type='text/css', inline=true)
  body
    // START: Email branding
    table.branding-wrap
      tr
        td.container
          div.content
            table
              tr
                td.padding-top.padding-bottom.logo-wrap( width="280")
                  img.logo(src="http://s18.postimg.org/gzml4dvzd/dupont_logo.gif" alt="Dupont Underground" width="280" height="64")
    // END: Email branding
    table.body-wrap
      tr
        td.container(bgcolor='#ffffff')
          div.content
            // START: header
            include _partials/header/header.pug
            // END: Header
            // START: body
            include _partials/content/single-column.pug
            // End: Body
    // START: Footer
    include _partials/footer/footer
    // END: Footer