//- Single column body content tamplate

table
  tr
    td.padding-sides.padding-top
      p This is a really simple email template. Its sole purpose is to get you to click the button below.
      h2 How do I use it?
      p All the information you need is on GitHub.
      table
        tr
          td.padding
            p.center
              a.btn-primary(href='https://github.com/leemunroe/html-email-template') View the source and instructions on GitHub
      p Feel free to use, copy, modify this email template as you wish.
      p Thanks, have a lovely day.